SIP_ACCOUNT="<sip:13336669999@sip.sipprovider.com>;auth_pass=YourPassword"

OPENAI_API_KEY=
OPENAI_MAX_TOKENS=50
OPENAI_TEMPERATURE=0

DEEPGRAM_API_TOKEN=

# only necessary if SPEECH_TTS is set to elevenlabs
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=21m00Tcm4TlvDq8ikWAM

# elevenlabs or espeak
SPEECH_TTS=elevenlabs